@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #221831;
}

.container {
  width: 65vmin;
  height: 70vmin;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  background-color: #1e93ab;
  border-radius: 10px;
  box-shadow: 0 0 25px #546435;
}

.game-details {
  display: flex;
  justify-content: space-between;
  font-size: 21px;
  color: white;
  padding: 20px 27px;
}

.play-board {
  width: 100%;
  height: 100%;
  background-color: #393e46;
  display: grid;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.play-board .food {
  background-color: #e62727;
}

.play-board .head {
  background-color: #124170;
}
